In [1]:
from data_source import MarketPriceData
import MetaTrader5 as mt5

# Broker credentials
login = 51439076
server = "ICMarketsSC-Demo"
password = "vwYYuaZt"
fetcher = MarketPriceData(login=login, server=server, password=password)

# Choose asset class, timeframe, date range, and number of rows to be fetched
asset = "EURUSD"
timeframe = mt5.TIMEFRAME_M1
date_from = None
bars = 1000000

# Print data
data = fetcher.fetch_data(asset=asset, timeframe=timeframe, date_from=date_from, bars=bars)
data.drop("real_volume", axis=1, inplace=True)

In [2]:
data

,time,open,high,low,close,tick_volume,spread
0,2021-03-04 04:47:00,1.20530,1.20532,1.20527,1.20532,41,0
1,2021-03-04 04:48:00,1.20532,1.20537,1.20532,1.20534,12,0
2,2021-03-04 04:49:00,1.20534,1.20536,1.20532,1.20534,12,0
3,2021-03-04 04:50:00,1.20534,1.20534,1.20523,1.20525,25,0
4,2021-03-04 04:51:00,1.20525,1.20525,1.20508,1.20509,37,0
...,...,...,...,...,...,...,...
999995,2023-11-07 19:08:00,1.06822,1.06823,1.06815,1.06822,34,0
999996,2023-11-07 19:09:00,1.06822,1.06834,1.06817,1.06824,40,0
999997,2023-11-07 19:10:00,1.06824,1.06837,1.06816,1.06816,32,0
999998,2023-11-07 19:11:00,1.06816,1.06820,1.06812,1.06813,36,0
999999,2023-11-07 19:12:00,1.06814,1.06818,1.06799,1.06799,33,0

In [3]:
data.to_csv('eurusd.csv', index=False)